@model EmployeeViewModel

<div class="form-group">
    @if (!string.IsNullOrEmpty(Model.ImageName))
    {
        <img src="~/Files/Images/@Model.ImageName" class="rounded" height="250" width="250" />
    }
    else
    {
        <i class="fa-solid fa-user" style="font-size: 250px;"></i>
    }
    <input asp-for="ImageName" hidden/>
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="@Model.Name"></label>
    <input readonly class="form-control" asp-for="@Model.Name" />
    <span asp-validation-for="@Model.Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="@Model.Age"></label>
    <input readonly class="form-control" asp-for="@Model.Age" />
    <span asp-validation-for="@Model.Age" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="@Model.Address"></label>
    <input readonly class="form-control" asp-for="@Model.Address" />
    <span asp-validation-for="@Model.Address" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="@Model.Salary"></label>
    <input readonly class="form-control" asp-for="@Model.Salary" />
    <span asp-validation-for="@Model.Salary" class=" text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="@Model.Email"></label>
    <input readonly class="form-control" asp-for="@Model.Email" />
    <span asp-validation-for="@Model.Email" class=" text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="@Model.PhoneNumber"></label>
    <input readonly class="form-control" asp-for="@Model.PhoneNumber" />
    <span asp-validation-for="@Model.PhoneNumber" class=" text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="@Model.HireDate"></label>
    <input readonly class="form-control" asp-for="@Model.HireDate" />
    <span asp-validation-for="@Model.HireDate" class=" text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label" for="flexCheckDefault" style="font-size: 20px;margin-right: 30px; " asp-for="@Model.IsActive"></label>
    <input disabled class="form-check-input" type="checkbox" value="true" asp-for="@Model.IsActive" style="width: 30px; height: 30px;" />
</div>